n/
Projects/
Desktop/
Documents/
Images/
Downloads/
.3T
.Xauthority
.bash_history
.bash_logout
.bash_profile
.bashrc
.cache/
.config/3T/
.config/Code - OSS/
!.config/Code - OSS/User/settings.json
.config/GIMP/
.config/QtProject.conf
.config/Slack/
.config/Trolltech.conf
.config/chromium/
.config/clipit/
.config/configstore/
.config/dconf/
.config/fish/
.config/fisherman/
.config/gconf/
.config/htop/
.config/libfm/
.config/libreoffice/
.config/menus/
.config/mimeapps.list
.config/pavucontrol.ini
.config/pcmanfm/
.config/pulse/
.config/sway/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/yarn/
.dbus/
.esd_auth
.fehbg
.gimp-2.8/
.gnome/
.gnupg/
.gtk-bookmarks
.hedgewars/
.histfile
.icons/
.lesshst
.local/
.mongodb-prebuilt/
.mozilla/
.ngrok/
.node-gyp/
.node_repl_history
.npm/
.pki/
.python_history
.rnd
.screenlayout/
.ssh/
.thumbnails/
.var/
.vim/
.viminfo
.vscode-oss/
.vscode/
.vuerc
.yarn/
.yarnrc
.z
.z.171
.z.19379
.z.24078
.z.30374
.zcompdump
.zcompdump.zwc
.zhistory
.zlogin
.zlogout
.zprezto/
.zpreztorc
.zprofile
.zprofile.old
.zshenv
.zshrc.old

